body {
  margin: 0;
  min-height: 100vh;
  display: block; 
  background-color:rgb(226, 226, 226);
  
}
#root{
  width: 100%;
}

header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.titulo-productos {
  background-color: #e9e9e9;
  padding: 15px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.detalleProducto {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.producto{
display:flex;
background-color: rgb(239, 240, 241);
padding: 1%;
color: black;
padding-left: 20px;
}
.producto img {
  border: 2px solid black;
}
.tarjeta-producto:nth-child(odd) .producto {
  background-color: rgb(206, 205, 205);
}
.info-producto {
  width: 70%
}
.botones-producto{
  display: flex;
  flex-direction: column;
  align-self: flex-end; 
}
.botones-producto button {
  
  width: 120px;  
  margin-bottom: 5px;
}
@media (max-width: 450px) {


  .producto {
    flex-direction: column;
    align-items: center;   
    text-align: center;    
  }


  .info-producto {
    width: 100%;
    margin-bottom: 15px;
  }

 
  .botones-producto {
    width: 100%;
    align-items: center;   
  }


  .botones-producto button {
    width: auto;          
    min-width: 120px;     
    align-self: center;   
  }
}


.controles-paginas{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  gap: 2%;
  border: 2px solid black
}
.contacto form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.contacto input, textarea {
  margin: 5px 0;
  padding: 5px;
}

.contacto button {
  margin-top: 10px;
  padding: 6px;
  border: 1px solid black
}

.modal {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-formulario {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    min-width: 300px;
    color: black;
    gap: 15px;
}
.modal-formulario input,
.modal-formulario textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
  
}

.modal-formulario textarea {
    height: 80px;
}



.modal-formulario button {
    width: 40%;
    cursor: pointer;
}

.modal-formulario button:hover {
    background: #504e4e;
}

